* {
    text-decoration: none;
    list-style: none;
}

nav{
    height: 120px;
    width: 100%;
    background: #EEECEC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0px;
    line-height: 80px;
}
nav a{
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active, a:hover{
    border: 1px solid black;
    transition: .5s;
}


label.logo{ 
    margin-left: 4px;
}

body{
    background: #0BFE81;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h1.title{
    text-align: center;
    color: white;
    margin-top: 180px;
    font-size: 60px;
}

h2.subtitle{
    text-align: justify;
    color: #464e4a;
    margin-left: 20px;
}

img.imagens{
    margin-left: 20px;
    text-align: center;
}

div.box{
    width: 75%;
}

div.box2{
    width: 81%;
}

div.legenda{
    text-indent: 10px;
    border-style: none;
    border-radius: 6px;
    background: #464e4a;
    color: white;
    margin-left: 20px;
    padding-top: 10px; 
    padding-left: 5px;
    height: 33px; 
    font-size: 1.17em;
    opacity: 90%;
}


div.aviso{
    text-indent: 10px;
    border-style: none;
    border-radius: 6px;
    background: #f50a0a;
    color: white;
    margin-left: 20px;
    padding-top: 10px; 
    padding-left: 5px;
    height: auto; 
    font-size: 1.17em;
    opacity: 90%;
}
strong{
    padding-left: 10px;
}
div.extra{
    border-style: none;
    border-radius: 6px;
    background: #f5740a;
    color: white;
    margin-left: 20px;
    padding-top: 10px; 
    padding-left: 5px;
    height: auto; 
    font-size: 1.17em;
    opacity: 90%;
}